/***********************************
*Description: Primary Style sheet for Diego Carmona's portfolio
*Author:      Diego Carmona
***********************************/
body{
    background-color:aquamarine;    /* This is a lighter greenish hue*/
}
p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
ul{
    list-style-type: georgian;
}