/***********************************
*Description: Primary Style sheet for Diego Carmona's portfolio
*Author:      Diego Carmona
***********************************/

body{
    background-color:aquamarine;    /* This is a lighter greenish hue*/
}

p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; /* transitions all fonts within the document to times new roman*/
}

ul{
    list-style-type:square; /* Changes the circle points to squares*/
}

h1{
    text-align :center; /* center aligned the title name "Diego Carmona" */
}

h4{
    text-align :center; /* Center aligned the contact info */
}

h1{
    background-color: rgb(116, 177, 192);
}

h4{
    background-color: rgb(116, 177, 192);
}